#map {
    height: 80%;
}
html,
body {
    height: 65%;
    margin: 800;
    padding: 900;
}
.spo2{
    width:30%;
    /* float: left; */
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 40px 150px;
  }
  .button5 {border-radius: 100%;}  